@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #516dff;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.6rem;
  line-height: 1.4;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
}

.btn {
  border: none;
  background-color: #fff;
  color: #516dff;
  padding: 1.5rem 2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
}

.screen.up {
  margin-top: -100vh;
}

.insects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.insects-list li {
  margin: 1rem;
}

.choose-insect-btn {
  background-color: transparent;
  border: 2p solid #fff;
  cursor: pointer;
  font-family: inherit;
  width: 15rem;
  height: 15rem;
}

.choose-insect-btn:hover {
  background-color: #fff;
  color: #516dff;
}

.choose-insect-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.choose-insect-btn img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}

.game-container {
  position: relative;
}

.time,
.score {
  position: absolute;
  top: 2rem;
}

.time {
  left: 2rem;
}

.score {
  right: 2rem;
}

.message {
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 2rem;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0.4s ease-in;
}

.message.visible {
  opacity: 1;
  transform: translate(-50%, 150%);
  z-index: 100;
}

.insect {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.2s ease-in-out;
}

.insect.caught {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;
}

.insect img {
  width: 10rem;
  height: 10rem;
}
